ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}
#Banner{
    width: 100%;
    min-height: 250px;
    height: 22.6vw;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    #imgList{
        padding: 0;
        width: 300vw;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 0;
        transition: all .5s;
        li{
            display: inline-block;
            width: 100vw;
            height: 100%;
            img{
                width: 100%;
                min-height: 250px;
                background-position: 'center';
                background-size: 'cover';
                background-repeat: 'no-repeat';
            }
        }
    }

    #dotList{
        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 0;
        li{
            display: inline-block;
            padding: 5px;
        }
        .dot{
            width: 13px;
            height: 13px;
            border-radius: 100%;
            background-color: rgb(255, 255, 255);
        }
    }
    
    #Arrows{
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        .ArrowWrapper{
            margin: 0 10px 0 10px;
            display: flex;
            position: relative;
            border-radius: 100%;
            top: calc(22.6vw / 2 - 25px);
            cursor: pointer;
            z-index: 1;
            width: 50px;
            height: 50px;
            background-color: #ff6633;
            #leftArrow{
                position: relative;
                left: 3px;
                width: 40%;
                height: 40%;
                margin: auto;
                border-top: 6px solid white;
                border-left: 6px solid white;
                transform: rotate(-45deg);

            }
            #rightArrow{
                position: relative;
                right: 3px;
                width: 40%;
                height: 40%;
                margin: auto;
                border-top: 6px solid white;
                border-left: 6px solid white;
                transform: rotate(135deg);
            }
        }
    }
}


#Banner:hover{
    #Arrows{
        visibility: unset;
    }
}

@media(max-width: 850px){
    #Banner{
        #Arrows{
            .ArrowWrapper{
                top: 100px;
            }
        }
    }
    
}