#Banner{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    #imgList{
        padding: 0;
        width: 300vw;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 0;
        transition: all .5s;
        li{
            display: inline-block;
            width: 100vw;
            height: 100%;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }

    #leftArrow{
        position: absolute;
        top: 150px;
        left: 0;
        cursor: pointer;
        z-index: 1;
    }

    #rightArrow{
        position: absolute;
        top: 150px;
        right: 0;
        cursor: pointer;
        z-index: 1;
    }

    
}
#dotList{
    margin: 0 auto;
    padding: 0;
    li{
        display: inline-block;
        padding: 5px;
    }
    .dot{
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: rgb(116, 116, 116);
    }
}
