.Banner{
    text-align: center;
    width: 100%;
}

.carousel-initialized{
    height: 300px;
}

.carousel-dots{
    z-index: 12;
    position: absolute;
    top: 250px
}
.slider{
    position: relative;
    z-index: 0;
}