.card{
    cursor: pointer;
    list-style: none;
    background-color: #ff6633;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 12px;
    width: 90%;
    max-width: 900px;
    #cardImg{
        border-radius: 12px 12px 0 0;
        background-color: rgb(255, 235, 179);
        img{
            height: 100%;
            width: 100%;
            border-radius: 12px 12px 0 0;
        }
    }
    #CardContent{
        padding-left: 10px;
        text-align: left;
        font-weight: 500;
        font-size: 25px;
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            margin: 10px 0 10px 0;
        }
        #scheduleName{
            font-weight: bold;
            font-size: 30px;
        }
    }
}


#CardView{
    text-align: center;
    padding: 0;
    ul{
        padding: 0;
        margin: 0;
    }
}

@media(max-width: 725px){
    #CardView{
        ul{
            width: 93%;
            .card{
                #cardImg{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}