.contents{
    display: flex;
    margin-bottom: 50px;
    padding: 0 0 0 150px;
    .content__way{
        list-style: none;
        margin: auto 30px auto 0;
        .content__title{
            p {
                border-radius: 10px;
                background: #ffffff;
                text-align:center;
                padding: 10px;
                margin: auto;
                font-size: 2em;
                width: 170px;
                box-shadow: 0 0 0 2px #ff6633;
            }
            margin: 20px 0 20px 0;
        }
    }
    .content__place {
        display: inline-block;
        background: #ff6633;
        color: #fff;
        font-weight: 300;
        border-radius: 10px;
        margin-right: 30px;
        //말풍선 꼬리
        &:after {
            right: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: #ff6633;
            border-width: 10px;
            top: 51%;
        }
    }
    @media(max-width:600px){
        .content__way{
            display: none;
        }
    }
}

@media(max-width:850px){
    .contents{
        padding: 0 0 0 80px;
    }
}