@font-face {
    /* font-family: NanumSquareRound;
    src: url('../assets/fonts/NanumSquareRoundR.ttf'); */
}
body{
    /* font-family: NanumSquareRound; */
    background-color: rgb(255, 238, 219);
}

ul{
    display: inline-block;
    vertical-align: middle;
}
.footer__height{
    min-height: calc(100vh - 201px);
}
input,button{
    outline: none;
}
.title{
    margin: 0;
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: 150px;
}

#logoImg{
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
    padding-top: 40px;
}

#signTitle{
    margin-bottom: 80px;
}

#loginPage, #signupPage{
    height: 100vh;
    margin:auto;
    text-align: center;
}

.middleBtn{
    /* background-color: rgb(114, 114, 114); */
    background-color: white;
    text-align: center;
    /* color: white; */
    color: rgb(37, 37, 37);
    border: none;
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    height: 40px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.smallBtn{
    /* background-color: rgb(114, 114, 114); */
    background-color: white;
    color: rgb(92, 92, 92);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.InputInfo {
    width: 300px;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: solid rgb(190, 190, 190) 2px;
}

.searchBtn{
    background-color: rgb(199, 199, 199);
    border: none;
    border-radius: 5px;
    height: 45px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

#signup_searchBtn{
    position: absolute;
    margin:5px;
}


#loginBtn{
    margin-top: 50px;
    background-color: #66cc99;
    color: white;
}

#disableBtn{
    margin-top: 50px;
    background: lightgray;
    color: rgb(117, 117, 117);
    cursor: unset;
}
