#DetailView{
    margin: 50px;
    ul{
        margin: auto;
        background-color: #ff6633;
        color: white;
        border-radius: 10px 10px 0 0;
    }
    #review{
        margin: auto;
        background-color: #ff6633;
        border-radius: 0 0 10px 10px;
    }
}