#DetailView{
    position: relative;
    top: 10vh;
    ul{
        margin: auto;
        background-color: #022435;
        color: white;
        border-radius: 10px 10px 0 0;
    }
    #review{
        margin: auto;
        background-color: #022435;
        border-radius: 0 0 10px 10px;
    }
}