#DetailView{
    position: relative;
    top: 8vh;
    margin: 0 20px 0 20px;
    ul{
        margin: auto;
        background-color: #ff6633;
        color: white;
        border-radius: 10px 10px 0 0;
    }
    #review{
        margin: auto;
        background-color: #ff6633;
        border-radius: 0 0 10px 10px;
    }
}