#Dialog{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.623);
    width: 100vw;
    height: 100vh;
    #DialogForm{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        width: 60%;
        margin: auto;
        border-radius: 8px;
        #DialogComment{
            font-size: 2.5rem;
            font-weight: bold;
            margin: auto;
            padding: 30px 0 30px 0;
        }
        button{
            width: 25%;
            margin: 2%;
            font-size: 2rem;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            color: rgb(88, 77, 77);
            background-color: rgb(255, 196, 0);
            font-weight: bold;
        }
    }
}

.notVisible{
    display: none;
}

@media(max-width:600px){
    #Dialog{
        #DialogForm{
            width: 80%;
            #DialogComment{
                font-size: 1rem;
            }
            button{
                width: 30%;
                font-size: 1rem;
                padding: 5px;
            }
        }
    }
}