.location{
    display: table;
    list-style: none;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    p{
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-size: 25px;
        border-radius: 20px;
        font-weight: bold;
    }
}
.locationTitle:hover{
    background-color: rgba(0, 0, 0, 0.685);
}

#rcmdedLocations{
    margin: 0 10px 0 10px;
    padding: 0;
    text-align: center;
}

#hotListTitle{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: rgb(250, 145, 25);
    width: 50%;
    margin: 20px auto 20px auto;
    border-bottom: 3px solid rgb(255, 166, 0);
}

.Link{
    text-decoration: none; 
    color: black;
    display: inline-block;
    margin: 20px;
}


@media(max-width: 600px){
    #hotListTitle{
        font-size: 1.0rem;
        width: 90%;
    }
    .location{
        width: 130px;
        height: 130px;
        p{
            font-size: 1.2rem;
        }
    }
}