.location{
    display: table;
    list-style: none;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    p{
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-size: 25px;
        border-radius: 20px;
        font-weight: bold;
    }
}
.locationTitle:hover{
    background-color: rgba(0, 0, 0, 0.685);
}

#rcmdedLocations{
    margin: 0 10px 0 10px;
    padding: 0;
    text-align: center;
}

#hotListTitle{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.Link{
    text-decoration: none; 
    color: black;
    display: inline-block;
    margin: 20px;
}