#menubar{
    display: inline-block;
    // background-color: #022435;
    // background-color: rgb(252,101,69);
    background-color: #ff6633;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    *{
        display: inline;
    }
    a, p{
        text-decoration: none;
        font-size: 25px;
        color: white;
        margin-right: 30px;
    }
    #hamburger{
        position: relative;
        display: none;
        margin-left: 10px;
        cursor: pointer;
        z-index: 999;
        img{
            width: 30px
        }
    }
    #section1{
        margin-left: 10px;
        p{
            cursor: pointer;
        }
    }
    #section2{
        float: right;
        margin-right: 10px;
    }
    .Link{
        margin-right: 0;
    }
}

@media(max-width: 725px){
    #menubar{
        a,p{
            color: rgb(82, 82, 82);
        }
        #hamburger{
            display: inline;
        }
        #section1{
            z-index: 100;
            padding-top: 50px;
            position: absolute;
            margin: 0;
            top: 0;
            left: -100vw;
            height: calc( 100vh - 50px );
            width: 100vw;
            background-color: rgba(223, 223, 223, 0.938);
            transition: all 350ms;
            .Link{
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
            }
            .Link:hover{
                background-color: rgb(168, 168, 168);
            }
        }
    }
    
}

#Home, #MySchedule, #SharePage{
    font-weight: bold;
}