.mypages{
    display: flex;
    flex-wrap: wrap;
}

.page{
    cursor: pointer;
    text-align: center;
    flex-basis: 33.33%;
    height: 33.33vw;
    background-color: rgb(252, 253, 182);

    li{
        list-style: none;
        margin: 0;
        font-weight: bold;
        font-size: 2rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    ul{
        padding: 0;
    }
}

.page:before{
    content: '';
    height: 100%;
}

.page::before, ul{
    display: inline-block;
    vertical-align: middle;
}

@media (min-width:1000px){
    .page{
        flex-basis: 20%;
        height: 20vw;
    }
}

@media (max-width: 600px){
    .page{
        flex-basis: 50%;
        height: 50vw;
    }
}