#searchbar{
    display: inline-block;
    // background-color: #022435;
    // background-color: rgb(252,101,69);
    background-color: #ff6633;
    width: 100%;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    #section1{
        float: left;
        .middleBtn{
            vertical-align: middle;
        }
        #largeCategory{
            position: absolute;
            z-index: 1;
            #LAreas{
                vertical-align: top;
                display: inline-block;
                overflow: auto;
                height: 0;
                max-height: 300px;
                border-radius: 0 0 10px 10px;
            }
            #SAreas{
                vertical-align: top;
                display: inline-block;
                overflow: auto;
                height: 0;
                max-height: 400px;
                border-radius: 0 0 10px 10px;
            }
            .LAreaList{
                text-align: center;
                cursor: pointer;
                font-weight: 500;
                font-size: 26px;
                width: 180px;
                color: white;
                padding: 10px 0 10px 0;
                background-color: #fd7547;
                border-bottom: 1px solid white;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
            .LAreaList::-webkit-scrollbar{
                display: none;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
            .SAreaList{
                text-align: center;
                cursor: pointer;
                font-weight: 500;
                font-size: 28px;
                width: 180px;
                color: white;
                padding: 10px 0 10px 0;
                background-color: #ffa689;
                border-bottom: 1px dotted white;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
            .SAreaList::-webkit-scrollbar{
                display: none;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
        }
        
    }
    #section2{
        float: right;
        margin-right: 10px;
        .searchBtn{
            height: 40px;
            margin: 10px;
            margin-right: 0;
            cursor: unset;
            background-color: lightgray;
            color: rgb(255, 255, 255);
        }
        #Activation{
            // background-color: rgb(58, 158, 252);
            background-color: #4cdb88;
            color: white;
            cursor: pointer;
        }
    }
}



.LAble{
    transition: .5s all;
    height: 300px;
}
.SAble{
    transition: .5s all;
    height: 400px;
}

.disable{
    transition: .5s all;
    height: 0px;
}

@media(max-width: 600px){
    #searchbar{
        #section1{
            width: 100%;
            text-align: center;
            .picker{
                display: block;
            }
            #LAreas{
                position: absolute;
            }
        }
        #section2{
            width: 100%;
            text-align: center;
            margin: 0;
            .searchBtn{
                width: 150px;
                margin: 10px;
            }
        }
    }
}