#searchbar{
    display: inline-block;
    // background-color: #022435;
    // background-color: rgb(252,101,69);
    background-color: rgb(249,113,113);
    width: 100%;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    #section1{
        float: left;
        .middleBtn{
            vertical-align: middle;
        }
        #largeCategory{
            position: absolute;
            z-index: 1;
            #LAreas{
                vertical-align: top;
                display: inline-block;
                height: 300px;
                overflow: auto;
            }
            #SAreas{
                vertical-align: top;
                display: inline-block;
                overflow: auto;
                max-height: 400px;
            }
            .LAreaList{
                text-align: center;
                font-weight: 500;
                font-size: 28px;
                width: 180px;
                padding: 10px 0 10px 0;
                background-color: red;
                border: 1px solid black;
            }
            .SAreaList{
                text-align: center;
                font-weight: 500;
                font-size: 28px;
                width: 180px;
                padding: 10px 0 10px 0;
                background-color: blue;
                border: 1px solid black;
            }
        }
        
    }
    #section2{
        float: right;
        margin-right: 10px;
        .searchBtn{
            height: 40px;
            margin: 10px;
            margin-right: 0;
            cursor: unset;
            background-color: lightgray;
            color: rgb(255, 255, 255);
        }
        #Activation{
            // background-color: rgb(58, 158, 252);
            background-color: rgb(67,196,150);
            color: white;
            cursor: pointer;
        }
    }
}



