.tendency{
    li{
        display: inline-block;
        background-color: #ffb197;
        border-radius: 5px;
        vertical-align: middle;
        margin: 10px;
        label{
            display: flex;
            padding: 10px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            input{
                margin-right: 10px;
                zoom: 1.4;
            }
        }
    }
}